<%= form_for(@common) do |f| %>
  <% if @common.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@common.errors.count, "error") %> prohibited this common from being saved:</h2>

      <ul>
      <% @common.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
